<li class="nav-item">
    <a class="btn btn-success" asp-controller="Employee" asp-action="SearchResult">SearchResult</a>
</li>
<li class="nav-item">
    <a class="btn btn-warning" asp-controller="Employee" asp-action="DynamicSQL">DynamicSQL</a>
</li>